<mat-card class="example-card" *ngIf="status.data">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [style.--poke-image-url]="'url(' + img + ')'"></div>
      <mat-card-title>{{pokemonData.name | uppercase}}</mat-card-title>
      <mat-card-subtitle>Tipo: {{pokemonData.types[0].type.name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="this.img" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-list>
        <div mat-subheader>Ataques</div>
        <mat-list-item *ngFor="let ability of pokemonData.abilities">
          <div mat-line>{{ability.ability.name}}</div>
        </mat-list-item>
      
      </mat-list>
      
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" *ngIf="status.loading">
    <mat-card-header>
      <div mat-card-avatar><ngx-skeleton-loader  appearance="circle"></ngx-skeleton-loader></div>      
  
    </mat-card-header>
 

    <mat-card-content>
      <div class="d-flex justify-content-center mb-3">
      <ngx-skeleton-loader  appearance="circle" [theme]="{
        
        height: '200px',
        width: '200px'
        
       
     }"></ngx-skeleton-loader>

      </div>
      <ngx-skeleton-loader animation="pulse" [theme]="{
        
         height: '100px'
        
      }"></ngx-skeleton-loader>
    </mat-card-content>

  </mat-card>
  <app-error *ngIf="status.error" (retry)="getPokemon()"></app-error>


