<!-- Just an image -->
<nav class="navbar shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/logo.png"  height="30" alt="poke api logo">
        </a>
        
    </div>
</nav>
<main class=" py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <app-list (namePokemon)="getName($event)"></app-list>
            </div>
            <div class="col-4 d-none d-lg-block" >
                <app-details [inputString]="namePokemon" *ngIf="showDetails"></app-details>
            </div>
        </div>

    </div>
</main>

<footer>
    <div class="container py-3">
        <p>Desarrollado por Claudio Olivares</p>

    </div>
  </footer>

